.main {
    display: grid;
    height: 42em;
    width: 70em;
    grid-template-columns: 35em 35em;
    margin-top: 6em;
}

@media screen and (max-width: 1024px) {


    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        height: auto;
        margin: 6em auto 4em auto;
    }
}
